[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inflection = "*"
pywin32 = {version = "*", markers="sys_platform == 'win32'"}
pyyaml = "*"
rich = "*"

[dev-packages]
beautifulsoup4 = "*"
click = "*"
cyclopts = "*"
markdownify = "*"
pytest = "*"
python-slugify = "*"
tzlocal = "*"
unidecode = "*"

[requires]
python_version = "3.12"
